In [1]:
import pandas as pd
import os
import csv

In [3]:
PATH = 'D:/JOISS/SST/'
f_list = os.listdir(PATH)
f_path = []
for i in range(len(f_list)):
    f_path.append(os.path.join(PATH + f_list[i]))
len(f_path) # 2002.01 ~ 2004.12

36

In [4]:
def open_csv(f_path):
    f = open(f_path, encoding='cp949')
    reader = csv.reader(f)
    csv_list = []
    for j in reader:
        csv_list.append(j)
    f.close()
    df = pd.DataFrame(csv_list)
    df = df[[1,2,9]]
    df = df.drop(0, axis=0)
    df = df.rename(columns={1:'Date',2:'SST',9:'Press'})
    df['Date'] = pd.to_datetime(df['Date'],format='%Y%m%d %H', errors='raise')
    df = df.sort_values('Date')
    df.insert(1, 'Hour', df['Date'].dt.hour)
    df['Date'] = df['Date'].dt.date

    return df

m_df = pd.DataFrame()
for k in f_path:
    df_temp = open_csv(k)
    m_df = pd.concat([m_df, df_temp])

m_df

           Date  Hour    SST    Press
740  2002-01-01     0  13.08     1010
739  2002-01-01     1     13  1009.08
738  2002-01-01     2     13     1009
737  2002-01-01     3     13     1009
736  2002-01-01     4     13     1009
..          ...   ...    ...      ...
5    2004-12-31    19   13.9  1014.18
4    2004-12-31    20   13.9  1014.32
3    2004-12-31    21   13.9  1014.98
2    2004-12-31    22   13.9  1014.87
1    2004-12-31    23  13.87  1014.85

[24615 rows x 4 columns]

In [5]:
# Press 선형보간
m_df['Press'] = pd.to_numeric(m_df.Press)
m_df['Press'].interpolate(inplace=True)
m_df

           Date  Hour    SST    Press
740  2002-01-01     0  13.08  1010.00
739  2002-01-01     1     13  1009.08
738  2002-01-01     2     13  1009.00
737  2002-01-01     3     13  1009.00
736  2002-01-01     4     13  1009.00
..          ...   ...    ...      ...
5    2004-12-31    19   13.9  1014.18
4    2004-12-31    20   13.9  1014.32
3    2004-12-31    21   13.9  1014.98
2    2004-12-31    22   13.9  1014.87
1    2004-12-31    23  13.87  1014.85

[24615 rows x 4 columns]

In [6]:
pd.DataFrame.to_csv(m_df, 'D:/JOISS/SST_merge.csv', index=False)